body{
    font-family: 'Roboto Slab', serif;  
    
}

#div{
    background-color: rgb(255, 255, 255);
}

#heading{
    background-color: rgb(135, 135, 135);
    padding: 10px;
    padding-top:-10px;
    color: aliceblue;
}

#srtbutton{
    color: aliceblue;
    font-size:20px;
    padding-left: 30px;
    padding-right: 30px;
}

#footer{
    background-color: rgb(222, 222, 222);
    color: black;
    padding: 8px;
}

#listener{
    margin-left: 170px;
}


